.LaundryCard{
    height: 10rem !important;
    width: 8rem !important;
    cursor: pointer;
}
.washingmachineimage{
    height: 1rem !important;
    width: 1rem !important;
}
.laundryImage{
    height: 3rem;
    margin-left: 25%;
    width: 3rem;
}
.status{
    margin-bottom: 50%;
}